@import "tailwindcss";

:root {
  --background: #FBFBFB;
  --foreground: #171717;

  --primary-100: #CEDBD7;
  --primary-200: #9DB7AF;
  --primary-300: #6B9486;
  --primary-400: #3A705E;
  --primary-500: #094C36;
  --primary-600: #073D2B;
  --primary-700: #052E20;
  --primary-800: #041E16;

  --white: #FFFFFF;
  --black: #000000;
  --gray: #808080;
  --lightGray: #D3D3D3;
  --successDark: #3d6b35;
  --successLight: #dcead8;
  --errorDark: #9c4a4a;
  --errorLight: #f2e5e5;
  --warningDark: #9a7b1a;
  --warningLight: #f5f0dc;
  --infoDark: #4a6a8b;
  --infoLight: #e5ebf2;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-100: #CEDBD7;
  --color-primary-200: #9DB7AF;
  --color-primary-300: #6B9486;
  --color-primary-400: #3A705E;
  --color-primary-500: #094C36;
  --color-primary-600: #073D2B;
  --color-primary-700: #052E20;
  --color-primary-800: #041E16;
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-bricolage-grotesque);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), var(--font-mono);
}
